@import "../../../variables.sass"
.header
  position: fixed
  width: 75%
  height: 80px
  padding: 20px 30px
  background: $primary-blue
  left: 50%
  transform: translateX(-50%)
  display: flex
  justify-content: space-between
  border: 2px solid black
  border-radius: 0px 0px 50px 50px
  border-top: none
  backdrop-filter: blur(3px)
  &-buttons
    display: flex
    justify-content: space-between
    &__el
      padding: 0px 30px
      text-decoration: none
  &-contacts
    img
      height: 30px
  &-logo
    color: #000
    text-decoration: none
